{% extends "layout_2_col.html" %}
{% load i18n %}
{% load static %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}
{% block preloader %}
    <div id="preloader">
        <div class="loader">
            <i class="icon-logo"></i>
        </div>
    </div>
{% endblock %}

{% block content %}


{% endblock content %}
{% block extrascripts %}
    <script src="{% static "js/home.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/slick/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sly-slider/sly.js" %}"></script>
    <script type="text/javascript" src="{% static "js/isotope/jquery.isotope.js" %}"></script>
{% endblock %}